<%- include('partials/head.ejs')%>
<%- include('partials/nav.ejs')%>

<h1>Home page</h1>
<ul>
    <% allPosts.forEach(post => { %>
        <li><a href="/blog/<%= post._id%>"><%= post.title %></a></li>
    <% }) %>
</ul>

<%- include('partials/foot.ejs')%>