<%- include('partials/head.ejs')%>
<%- include('partials/nav.ejs')%>

<h1>Show page</h1>

<h1><%= post.title%></h1>
<p><%= post.body%></p>

<form action="/blog/<%= post._id %>/?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>

<a href="/blog/<%= post._id %>/edit">Edit</a>

<%- include('partials/foot.ejs')%>