<%- include('partials/head.ejs')%>
<%- include('partials/nav.ejs')%>

<h1>Show page</h1>

<h1><%= post.title%></h1>
<p><%= post.body%></p>

<form action="">
    <button>Delete</button>
</form>

<%- include('partials/foot.ejs')%>